- name: Apptier instance
  sudo: yes
  hosts: localhost
  vars: 
    java_package: openjdk-8-jdk
    app_name: products
    app_version: 0.0.1
    #app_artifact_url: Sort this out

  pre_tasks:
    - name: Get region
      shell: curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | sed -n '/region/ s/.*region.*"\(.*\)"$/\1/p'
      register: r

    - debug: var=r

    - name: Fetch mongo host
      shell: bash ./playbooks/shared_files/fetch-dbtier-ips.sh {{ r.stdout }}
      register: m

    - debug: msg="{{ m.stdout.split(' ')|first }}"

    - set_fact: app_mongo_host="{{ m.stdout.split(' ')|first }}"


  roles:
    - wunzeco.java
    - appdeploy
